#friends-screen {
  height: 130vh;
}

#friends-display-link {
  background-color: #fafafa;
  display: block;
  text-align: center;
  padding: 15px 0px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0 var(--horizontal-space);
}

.friends-screen__divider {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__divider-header {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
  font-weight: 600;
  color: var(--default-gray);
  font-size: 15px;
}

.friends-icon {
  height: 60px;
  width: 60px;
  border-radius: 25px;
  color: white;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.friends-icon-birthday {
  background-color: salmon;
}

.friends-icon-smile {
  background-color: darkslateblue;
  opacity: 85%;
}

.friends-icon-channel {
  background-color: rgb(235, 235, 15);
  color: black;
  position: relative;
}

.friends-icon-channel span {
  position: absolute;
  font-size: 16px;
  color: rgb(235, 235, 15);
  font-family: "Open Sans", sans-serif;
  left: 19px;
  bottom: 23px;
}

.friends__column {
  display: flex;
  flex-direction: column;
}

.friends__column div {
  margin-bottom: 10px;
}

.my__name {
  font-size: 25px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  animation: hideSplashScreen .3s ease-in-out forwards;
  animation-delay: 2s;
}