.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  height: 70px;
  width: 70px;
  border-radius: 28px;
  margin-right: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.user-component__avatar--xl {
  height: 80px;
  width: 80px;
  border-radius: 28px;
  margin-right: 20px;
}

.user-component__avatar--sm {
  height: 60px;
  width: 60px;
  border-radius: 25px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component {
  position: relative;
}

.user-component__text i {
  color: tomato;
  position: absolute;
  bottom: 26px;
  left: 220px;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 13px;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}
